ClubPilot/bin/Debug/ClubPilot.exe
ClubPilot/bin/Debug/ClubPilot.pdb
.vs/ClubPilot/v17/.suo
.vs/ClubPilot/v17/DocumentLayout.backup.json
.vs/ClubPilot/v17/DocumentLayout.json
*.vsidx
ClubPilot/obj/Debug/ClubPilot.pdb
ClubPilot/obj/Debug/ClubPilot.exe
ClubPilot/obj/Debug/ClubPilot.csproj.GenerateResource.cache
*.cache
.vs/
ClubPilot/obj/Debug/
