# Visual Studio archivos de configuración
.vs/
*.suo
*.user
*.userosscache
*.slnx.sqlite
*.vscode/

# Archivos de compilación
bin/
obj/
*.cache
*.pdb
*.exe
*.dll
*.log
*.csproj.user
*.csprojAssemblyReference.cache

# Archivos temporales
ClubPilot/obj/
ClubPilot/bin/
ClubPilot/obj/Debug/
ClubPilot/obj/Release/

